  <%= link_to image_tag("logo.png", size: "190x60"), home_index_path %>

<h4 class="font_meie_script"> - When the summit calls, we answer - </h4>
<div class="divider"></div>
<div class="container">
<p>When the summit calls, we answer. A platform where climbers can pick the mountain they want to climb and get connected to the guiding services for that specific mountain. Climbers will find comparisons of prices, services offered and more, and the best way to get in touch with their guide to start planning the next adventure.</p>
<div>
